.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov
.venv/
.vscode/
*.mp4

config/zac/tmp_architecture.json
circuits/*
pdm.lock

baselines/atomique
data/benchmarks
organize
figures/
results/zac

results

lixo