[submodule "compilers/powermove"]
	path = compilers/powermove
	url = git@github.com:FranciscoRomao/PowerMove.git
[submodule "compilers/qmap"]
	path = compilers/qmap
	url = git@github.com:munich-quantum-toolkit/qmap.git
[submodule "compilers/zap"]
	path = compilers/zap
	url = git@github.com:BAQIS-Quantum/neutral-atom-compilation.git
